body {
  margin: 0;
  height: 200hv;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serify;

}

.carta{
    background-color:rgb(238, 243, 240);
    width: 400px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 15px 40px rgb(242, 4, 8);
    text-align: center;
    transition: transform 0.3s ease;
}